<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ee68fede-cc27-4805-995f-8044ceaefb90" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://d-ordwc-wma-c01.vericlaiminc.com:9002" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ee68fede-cc27-4805-995f-8044ceaefb90fileName">https%3A%2F%2Fd-ordwc-wma-c01.vericlaiminc.com%3A9002</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://d-ordwc-wma-c01.vericlaiminc.com:9002</con:endpoint></con:endpoints></con:interface>